/* red ##CF370D */
[ng-click],
[data-ng-click],
[x-ng-click],
[ng-href] {
    cursor: pointer;
}
/*
.pointer {
  cursor: pointer;
}*/

.greeting {
    padding: 15px;
}

.splash {
  background-image:  url("../images/friends.jpg");
  /*background-image:  url("../images/friends.jpg");*/
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position:center top;
  /*background-blend-mode: color;*/
  /*border: dashed 5px red;*/
}

.ticket {
  background-image:  url("../images/ticket.svg");
  background-repeat: no-repeat;
  /*width: 100%;*/
  height: 50vh;
  background-size: contain;
  background-position:center top;
  padding: 10px;
}

.splashpic {
  /*width: auto;
  height: auto;*/
  border: solid 5px black;
  max-height:100%;
  max-width:100%;
}

#splashbanner {
  background-color: #CF370D;
  opacity: 0.5;
  width: 100%;
  height: 15%;
}

a {
  text-decoration: none !important;
  color: inherit;
}

tr, td {
  padding: 5px;
}

caption {
  text-align: center;
}

.list-inline {
  white-space:nowrap;
}


.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.row-horizon > .col-xs-12 {
  width: 90%;
}
.row-horizon > .col-xs-11 {
  width: 82.5%;
}
.row-horizon > .col-xs-10 {
  width: 75%;
}
.row-horizon > .col-xs-9 {
  width: 67.5%;
}
.row-horizon > .col-xs-8 {
  width: 60%;
}
.row-horizon > .col-xs-7 {
  width: 52.5%;
}
.row-horizon > .col-xs-6 {
  width: 45%;
}
.row-horizon > .col-xs-5 {
  width: 37.5%;
}
.row-horizon > .col-xs-4 {
  width: 30%;
}
.row-horizon > .col-xs-3 {
  width: 22.5%;
}
.row-horizon > .col-xs-2 {
  width: 15%;
}
.row-horizon > .col-xs-1 {
  width: 7.5%;
}
@media (min-width: 768px) {
  .row-horizon > .col-sm-12 {
    width: 90%;
  }
  .row-horizon > .col-sm-11 {
    width: 82.5%;
  }
  .row-horizon > .col-sm-10 {
    width: 75%;
  }
  .row-horizon > .col-sm-9 {
    width: 67.5%;
  }
  .row-horizon > .col-sm-8 {
    width: 60%;
  }
  .row-horizon > .col-sm-7 {
    width: 52.5%;
  }
  .row-horizon > .col-sm-6 {
    width: 45%;
  }
  .row-horizon > .col-sm-5 {
    width: 37.5%;
  }
  .row-horizon > .col-sm-4 {
    width: 30%;
  }
  .row-horizon > .col-sm-3 {
    width: 22.5%;
  }
  .row-horizon > .col-sm-2 {
    width: 15%;
  }
  .row-horizon > .col-sm-1 {
    width: 7.5%;
  }
}
@media (min-width: 992px) {
  .row-horizon > .col-md-12 {
    width: 90%;
  }
  .row-horizon > .col-md-11 {
    width: 82.5%;
  }
  .row-horizon > .col-md-10 {
    width: 75%;
  }
  .row-horizon > .col-md-9 {
    width: 67.5%;
  }
  .row-horizon > .col-md-8 {
    width: 60%;
  }
  .row-horizon > .col-md-7 {
    width: 52.5%;
  }
  .row-horizon > .col-md-6 {
    width: 45%;
  }
  .row-horizon > .col-md-5 {
    width: 37.5%;
  }
  .row-horizon > .col-md-4 {
    width: 30%;
  }
  .row-horizon > .col-md-3 {
    width: 22.5%;
  }
  .row-horizon > .col-md-2 {
    width: 15%;
  }
  .row-horizon > .col-md-1 {
    width: 7.5%;
  }
}
@media (min-width: 1200px) {
  .row-horizon > .col-lg-12 {
    width: 90%;
  }
  .row-horizon > .col-lg-11 {
    width: 82.5%;
  }
  .row-horizon > .col-lg-10 {
    width: 75%;
  }
  .row-horizon > .col-lg-9 {
    width: 67.5%;
  }
  .row-horizon > .col-lg-8 {
    width: 60%;
  }
  .row-horizon > .col-lg-7 {
    width: 52.5%;
  }
  .row-horizon > .col-lg-6 {
    width: 45%;
  }
  .row-horizon > .col-lg-5 {
    width: 37.5%;
  }
  .row-horizon > .col-lg-4 {
    width: 30%;
  }
  .row-horizon > .col-lg-3 {
    width: 22.5%;
  }
  .row-horizon > .col-lg-2 {
    width: 15%;
  }
  .row-horizon > .col-lg-1 {
    width: 7.5%;
  }
}

.angular-google-map-container {
        height: 150px;
}

body {
  line-height: 16px
}

.progress {
  margin: 15px 0;
}

#listNav .btn:first-child {
margin-left: 0px;
}

.thumbnail {
	height: 110px;
	position: relative;
  margin-bottom: 5px;
}

.thumbnail:hover {
	background-color: #EEE;
}

.thumbnail > img {
	max-height: 75px;
}

.thumbnail .caption {
	position: absolute;
	width: 90%;
	bottom: 0;
	padding: 0;
}

.caption > h4{
	text-align: center;
}

/**
 * member Detail Partial
 */
.memberDetail h2 {
  font-size: 20px;
  margin: 2px 0 0 0;
}

.memberDetail .well {
  height: 200px;
  overflow: auto;
}

.memberDetailPane {
  height: 275px;
}

.carousel {
	height: 200px;
}


.item > img {
	display: block;
	margin: 0 auto;
	line-height: 1;
	max-height: 200px;
}

button.back {
  margin: 10px 0;
}

.memberOptions {
  padding-top: .4em;
  font-size: 1.2em;
  text-align: center;
}

.vertical-text {
  /*margin-bottom: 20px;*/
  width: 80px;
  padding-right: 40px;
	/*transform: rotate(270deg);*/
	/*transform-origin: bottom  0;*/

}

.rsvp {
  text-align: center;
  margin: 5px;
}

.rsvpYes {
  border: solid 3px green;
}

.rsvpMaybe {
  border: solid 3px yellow;
}

.rsvpNo {
  border: solid 3px red;
}

ul {
  list-style-type: none;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    /*box-sizing:border-box;*/
    border-bottom: 1px solid white;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

#map {
  box-shadow: 0 0 30px black;

}

img {
  margin: 0 auto;
  margin-top: 2px;
}

.voffset2 {
  margin-top: 2px;
}

.voffset5 {
  margin-top: 5px;
}

form fieldset {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding: 2em .5em .5em .5em; /*Make space at the top for the legend*/
    margin: 0 0 1em 0;
    background: #999;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCDDFF', endColorstr='#99AACC');*/
    background-image: -moz-linear-gradient(top,  #CCDDFF,  #99AACC);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCDDFF), to(#99AACC));
    border: none;
}
/*
.modal {
display: block;
}*/
/*
.appcustom-modal-med > .modal-dialog {
  width: 60%;
}*/

/*.app-modal-window  .modal-dialog {
  width: 50px;
}*/
.modal-dialog{
    /*margin-top: 30px;*/
    position: absolute;
    top: 30px;

    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.tagline {
  position: relative;
  margin-top: 0;
}
.tagline-text {
  vertical-align: middle;
}
.__slackin {
  float: right;
  margin-left: 10px;
  vertical-align: middle;
}

.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

a {
  font-weight: bold;
}
a,
a:hover {
  color: #ecf0f1;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

label {
  display: block;
  margin-bottom: 15px;
}

sub {
  display: block;
  text-align: right;
  margin-top: -10px;
  font-size: 11px;
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgba(255, 255, 255, 0.2);
  /*margin: 50px 0;
  padding: 20px;*/
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #942A57;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}

button {
  background-color: #ecf0f1;
  color: #942A57;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.wrapper {
  display: table;
}
.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.container:nth-child(odd) {
  /*background-color: rgba(0, 0, 0, 0.2);*/
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
  background-image: -moz-linear-gradient(top,  #CCDDFF,  #99AACC);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CCDDFF), to(#99AACC));
}
.container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container .ex-moved {
  background-color: #e74c3c;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
#left-lovehandles > div,
#right-lovehandles > div {
  cursor: initial;
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}
.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
