<div id="group_show" class = "container-fluid">
  <h3 class = "text-center">{{group.title}}</h3>
  <hr>
  <div class = "row">
    <div class = "col-sm-4">
      <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture">
      <!-- <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/preferences/{{group.id}}">Check Group Preferences</a>
      </div> -->
    </div>

      <div class = "col-sm-4">
        <p>{{group.bio}}</p>
        <span>Host: {{host.first_name}} {{host.last_name}}</span>
        <br><br>
        <a ng-href="#/activities/{{activity.id}}">
        <div class = "text-center ticket">
          <h3>{{activity.name}}</h3>
          <h5><i class="fa fa-users" aria-hidden="true"></i>  {{activity.category_name}} <i class="fa fa-users" aria-hidden="true"></i></h5>
          <h5>{{activity.date | date : fullDate}}   {{activity.time | timeToNormal  | date: 'shortTime'}}</h5>
          <h5>{{activity.address}}</h5>
          <h5>{{activity.phone}}</h5>
        </div>
      </a>
      </div>

    <div class = "col-sm-4">
      <!-- <p>{{group.location_id}}</p> -->
      <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/groups/actgen">Generate Events Manually</a>
      </div>
    </div>
  </div>

  <div class="row span12  gallery">
    <ul class="thumbnails">
      <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="col-sm-2">
      <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

        <div class = "thumbnail" style="background-color:black">
          <img class = "img-circle" ng-src="{{member.image_url}}">
          <div class="caption">
            <h4>{{member.first_name}}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>

  </div>
</div>
