<div id="group_show" class = "container-fluid">
  <h3 class = "text-center">{{group.title}} Details</h3>
  <hr>
  <div class = "row">
    <div class = "col-sm-4">
      <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture">
      <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/preferences/{{group.id}}">Check Group Preferences</a>
        <!-- <a class = "btn btn-primary span2" href="#/groups/actgen">Check Group Preferences</a> -->
        <!-- <div class = "text-center voffset5"> -->
          <!-- <a class = "btn btn-primary span2" href="#/activities/actgen/{{group.id}}">Generate Activity Manually</a> -->
          <!-- <a class = "btn btn-primary span2" href="#/groups/{{group.id}}/actgen">Generate Activity Manually</a> -->
        <!-- </div> -->
      </div>
    </div>

      <div class = "col-sm-4">
        <p>{{group.bio}}</p>
        <span>Host: {{host.first_name}} {{host.last_name}}</span>
        <br><br>
        <a ng-href="#/activities/{{activity.id}}">
        <div class = "text-center ticket">
          <h3>{{activity.name}}</h3>
          <h4>{{activity.category_name}}</h4>
          <h4>{{activity.date | date : fullDate}}</h4>
          <h4>{{activity.time | timeToNormal  | date: 'shortTime'}}</h4>
          <h4>{{activity.address}}</h4>
          <h4>{{activity.phone}}</h4>
        </div>
      </a>
      </div>

    <div class = "col-sm-4">
      <!-- <p>{{group.location_id}}</p> -->
      <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/groups/actgen">Generate Activity Manually</a>
        <!-- <a class = "btn btn-primary span2" href="#/groups/{{group.id}}/actgen">Generate Activity Manually</a> -->
      </div>
    </div>
  </div>

  <div class="row span12  gallery">
    <ul class="thumbnails">
      <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="col-sm-2">
      <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

        <div class = "thumbnail" style="background-color:black">
          <img class = "img-circle" ng-src="{{member.image_url}}">
          <div class="caption">
            <h4>{{member.first_name}}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>


<!-- With circles -->
  <!-- <div ng-repeat = "member in members">

    <div class="thumbnail" style="background-color:green"> -->
    <!-- <div class="thumbnail"> -->
      <!-- <img class = "img-circle" ng-src="{{member.image_url}}">
      <div class="caption">
        <h4>{{member.first_name}}</h4>
      </div>
    </div>
</div> -->

  <!-- <div class = "row row-horizon">
    <div ng-repeat = "member in members">
      <div class = "col-sm-2 col-sm-offset-1">
        <img class = "img-circle" ng-src="{{member.image_url}}">
        <h4>{{member.first_name}}</h4>
      </div>
    </div>
  </div> -->
  <!-- <div class = "row row-horizon">
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div> -->

  </div>
</div>
