doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script.
    //-   function init() {
      // Use the JS client
      //- 
      //- })
    //- script(src="https://apis.google.com/js/client.js?onload=init")
  body
    block content
