<div id = "preference_show" class = "container-fluid">
  <h3 class = "text-center">{{group.title}} Activity Preferences</h3>
  <hr>

  <!-- Times -->
  <div class = "row">
    <div class = "col-sm-4 col-sm-offset-2">
      <h4 style="color:#E6CA5C">Choose your event time, day, and interval</h4>
      <br>
      <form class="form" ng-submit="updateTimes()" role="form">
        <div class="form-group">
          <label>Time</label>
          <input type="time" id="time" name="time" ng-model="preference.time"
              placeholder="07:00:00" required ></br>
          <label>Day</label>
          <!-- <input type="text" class="form-control" ng-model="selectedDay" bs-options="day for day in periods.days" placeholder="Enter day" bs-typeahead></br> -->
          <select ng-model="preference.day" ng-options="day for day in periods.days"></select><br><br>
          <label>How Often</label>
          <select ng-model="preference.periodicity" ng-options="period for period in periods.periods"></select></br><br>

          <!-- <input type="text" class="form-control" ng-model="selectedOften" bs-options="period for period in periods.periods" placeholder="Enter how often" bs-typeahead></br> -->
          <label>Custom Date</label>
          <div class="dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
            </ul>
            <!-- <h4>Popup</h4> -->
           <div class="row">
             <div class="col-md-9">
               <p class="input-group">
                 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                 <span class="input-group-btn">
                   <button type="button" class="btn btn-default" ng-click="open1()">  <i class="glyphicon glyphicon-calendar"></i></button>
                 </span>
               </p>
             </div>
           </div>
          </div>
        </div>
        <div class = "row voffset2">
          <button type="button" class="btn btn-primary" ng-click="updatePreferenceTimes()">Save</button>
          <button type="reset" class="btn" ng-click="cancelPreferenceTimes()">Cancel</button>
        </div>
      </form>


      </div>

      <!-- div class='examples' ng-app='angular-dragula-example'> -->
      <h4 style="color:#E6CA5C">Choose your categories of events</h4>
      <br>
      <div class = "col-sm-6"> <!-- Other -->
        <div class="parent">
        <!-- <div class="parent" ng-controller="CategoryController"> -->
          <div id = "category_bucket" class="wrapper">
            <div id = " category_options" class="container" dragula="category-bag" dragula-scope="$parent">

              <div class = "category_buttons" ng-repeat="category in categories">{{category.name}}</div>
            </div>
              <div id = " category_selections" class="container" dragula="category-bag" dragula-scope="$parent">

              <div class = "category_buttons" ng-repeat="category in filteredCategories">{{category.name}}</div>
            </div>
          </div>
        </div>
          <div class = "row voffset2">
            <button type="button" class="btn btn-primary" ng-click="updateCategories()">Save</button>
            <button type="reset" class="btn" ng-click="cancelCategoryEdit()">Cancel</button>
          </div>
      </div>

     <!-- Map for custom location -->
      <div class = "text-center">
      </div>

    </div>

     <!-- Sorts/other -->
    <div class = "row">
    </div>

    <!-- Buttons -->
    <div class = text-center>
      <!-- <div class = "row voffset2">
        <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-check"></i> Submit</a>
        <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-question"></i> Cancel</a> -->
      </div>

  </div>
</div>
