<div id="activity_show" class = "container-fluid">
  <h3 class = "text-center">{{group.title}} Next Activity:   {{activity.name}}</h3>
  <hr>

  <div class = "row">
    <!-- <div class = "col-sm-4"> -->
      <!-- <p>{{activity.name}}</p> -->
      <!-- <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture"> -->
    <!-- </div> -->
    <a ng-href="#/activities/{{activity.id}}">
      <div class = "col-sm-5">
        <!-- <p>{{group.bio}}</p> -->
        <!-- <span>Host: {{host.first_name}} {{host.last_name}}</span> -->
        <div class = "text-center ticket">
          <h3>{{activity.name}}</h3>
          <h4>{{activity.category_name}}</h4>
          <h4>{{activity.date | date : fullDate}}</h4>
          <h4>{{activity.time | timeToNormal  | date: 'shortTime'}}</h4>
          <h4>{{activity.address}}</h4>
          <h4>{{activity.phone}}</h4>
          <!-- <h6>{{activity.lomemberion_id}}</h6> -->
        </div>
      </a>
      <div class = text-center>
        <div class = "row voffset2">
          <!-- var myId = 1; -->
          <!-- <a class = "btn btn-primary span2" ng-click="reply('Y', 1, activity.id)"><i class="fa fa-check"></i> Going</a>
          <a class = "btn btn-primary span2" ng-click="reply('M', 1, activity.id)"><i class="fa fa-question"></i> Maybe</a>
          <a class = "btn btn-primary span2" ng-click="reply('N', 1, activity.id)"><i class="fa fa-frown-o"></i> Can't make it</a> -->
          <!-- <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-check"></i> Going</a>
          <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-question"></i> Maybe</a>
          <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-frown-o"></i> Can't make it</a> -->
        <!-- </div> -->
        <div class = "row voffset2">
          <a class="btn btn-primary span2" href="https://www.google.com/calendar/event?action=TEMPLATE&amp;text=ScheduleThis&amp;dates=20160414T160000/20160414T220000&amp;details=Did+you+know%2F%29&amp;location=1245+Champa+St%2C+Denver%2C+CO%2C+80204%2C+United+States&amp;sprop=website:http://www.thecommons.co&amp;trp=false" title="Add to Google Calendar"><i class="fa fa-calendar"></i> Save the Date</a>
        </div>
      </div>
      </div>
      <!-- <a class="btn btn-primary span2" href="http://www.thecommons.co/event/get-hired-denver-startup-job-fair/?ical=1&amp;tribe_display=" title="Download .ics file">+ iCal Export</a> -->
      <!-- <button ng-click='#' class="btn btn-primary span2">+ GOOGLE CALENDAR</button></a> -->
      <!-- <div class="span8 memberOptions">{{member.options}}</div> -->
      <!-- <button ng-click='newmember(memberIndex + 1)' class="btn btn-primary pull-right span2">+ ICAL EXPORT</button> -->
    </div>
    <div class = "col-sm-2 text-center">
      <!-- <ul class="list-group" style="color:black">

        <li class="list-group-item">{{business.name}}</li>
        <li class="list-group-item">{{business.phone}}</li>
        <li class="list-group-item">{{business.address}}</li> -->
        <!-- <li class="list-group-item">{{business.snippet_text}}</li> -->

        <!-- <li class="list-group-item"><span class="badge">5</span> Deleted</li>
        <li class="list-group-item"><span class="badge">3</span> Warnings</li>   -->
      <!-- </ul> -->



      <!-- <div ng-controller="BusinessModalController">

        <div modal="showModal" close="cancel()">
          <div class="modal-header">
              <h4>Modal Dialog</h4>
          </div>
          <div class="modal-body">
              <p>Example paragraph with some text.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Okay</button>
            <button class="btn" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div> -->

      <div ng-controller="BusinessModalController">
        <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Im a modal!</h3>
                  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
              </div>
              <div class="modal-body">
                  <ul>
                      <li ng-repeat="item in items">
                          <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                      </li>
                  </ul>
                  Selected: <b>{{ selected.item }}</b>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
              </div> -->
           </script>

          <!-- Fix SCE whitelist for next line -->
          <!-- <button type="button" class="btn btn-default" ng-click="open()">Tell me more!</button> -->
          <!-- <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
          <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
          <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button> -->
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </div>

      <img ng-src="{{business.image_url_small}}" class="img-responsive img-rounded" alt="rating">
      <img ng-src="{{business.rating_img_url_small}}" class="img-responsive" alt="rating">

    </div>
    <div class = "col-lg-3 col-lg-offset-1">
      <div id="map">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      </div>
    </div>
    </div>
  </div>

  <h3 class = "rsvp">RSVPs</h3>

  <div class = text-center>
    <div class = "row voffset2">
      <!-- var myId = 1; -->
      <a class = "btn btn-primary span2" ng-click="reply('Y', 1, activity.id)"><i class="fa fa-check"></i> Going</a>
      <a class = "btn btn-primary span2" ng-click="reply('M', 1, activity.id)"><i class="fa fa-question"></i> Maybe</a>
      <a class = "btn btn-primary span2" ng-click="reply('N', 1, activity.id)"><i class="fa fa-frown-o"></i> Can't make it</a>
      <!-- <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-check"></i> Going</a>
      <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-question"></i> Maybe</a>
      <a class = "btn btn-primary span2" href="mailto:june.shaw@me.com"><i class="fa fa-frown-o"></i> Can't make it</a> -->
    </div>
  </div>

  <div class="row span12 rsvp rsvpYes">
    <i class="fa fa-thumbs-up fa-2x"></i>
    <ul class="thumbnails">
      <li ng-repeat="member in members | rsvpYes" ng-click="getDetail(member.id)" class="col-sm-2">
      <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

        <div class = "thumbnail" style="background-color:green">
          <img class = "img-circle" ng-src="{{member.image_url}}">
          <div class="caption">
            <h4>{{member.first_name}}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row span12 rsvp rsvpMaybe">
    <i class="fa fa-question fa-2x"></i>
    <ul class="thumbnails">
      <li ng-repeat="member in members | rsvpMaybe" ng-click="getDetail(member.id)" class="col-sm-2">
      <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

        <div class = "thumbnail" style="background-color:yellow">
          <img class = "img-circle" ng-src="{{member.image_url}}">
          <div class="caption">
            <h4>{{member.first_name}}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="row span12 rsvp rsvpNo">
    <i class="fa fa-thumbs-down fa-2x"></i>
    <ul class="thumbnails">
      <li ng-repeat="member in members | rsvpNo" ng-click="getDetail(member.id)" class="col-sm-2 animate-repeat">
      <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

        <div class = "thumbnail" style="background-color: red">
          <img class = "img-circle" ng-src="{{member.image_url}}">
          <div class="caption">
            <h4>{{member.first_name}}</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>


<!-- Pics and Description -->
<!-- <div class="row memberDetailPane">
    <div class="span12">
    <!The ngCarousel directive gets inserted here to fix a timing error between angularjs and bootstrap -->
        <!-- <div ng-carousel id="myCarousel" class="carousel slide"> -->
          <!-- Carousel items -->
          <!-- <div class="carousel-inner"> -->
        <!-- Give the first item in the collection the 'active' class -->
            <!-- <div ng-class="{item:true, active:$first}" ng-repeat="member in members"> -->
            <!-- <div ng-class="{item:true, active:$first}" ng-repeat="member in members"> -->
                <!-- <p>{{member.first_name}}</p> -->
                <!-- <img  ng-src="{{member.image_url}}"> -->
            <!-- </div>
          </div> -->
          <!-- Carousel Arrow Buttons -->
          <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div> -->

    <!-- Member Description -->
  <!-- <div class="span7">
      <div class="well" ng-bind-html-unsafe="member.first_name">
      </div>
  </div> -->
<!-- </div> -->

<!-- Footer (Nav buttons and addt'l details -->
<!-- <div class="row">
<button ng-click='newmember(memberIndex - 1)' class="btn btn-primary span2">Prev member</button>
<div class="span8 memberOptions">{{member.options}}</div>
<button ng-click='newmember(memberIndex + 1)' class="btn btn-primary pull-right span2">Next member</button>
</div> -->

<!-- </div> -->
