<div class = "container-fluid">
  <div class = "row">
    <!-- <div class = "col-sm-4"> -->
      <!-- <p>{{activity.name}}</p> -->
      <!-- <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture"> -->
    <!-- </div> -->
    <a ng-href="#/activities/{{activity.id}}">
      <div class = "col-sm-4">
        <!-- <p>{{group.bio}}</p> -->
        <!-- <span>Host: {{host.first_name}} {{host.last_name}}</span> -->
        <div class = "text-center ticket">

          <h4>{{activity.name}}</h4>
          <h6>{{activity.date | date : fullDate}}</h6>
          <h6>{{activity.time | timeToNormal  | date: 'shortTime'}}</h6>
          <!-- <h6>{{activity.location_id}}</h6> -->
        </div>
      </a>
    </div>
    <div class = "col-sm-5">
      <ul class="list-group">
        <li class="list-group-item">{{business.name}}</li>
        <li class="list-group-item">{{business.phone}}</li>
        <li class="list-group-item">{{business.address}}</li>
        <li class="list-group-item">{{business.snippet_text}}</li>

        <!-- <li class="list-group-item"><span class="badge">5</span> Deleted</li>
        <li class="list-group-item"><span class="badge">3</span> Warnings</li>   -->
      </ul>

      <img ng-src="{{business.rating_img_url_small}}" class="img-responsive" alt="rating">
      <img ng-src="{{business.image_url_small}}" class="img-responsive" alt="rating">
    </div>
    <div class = "col-sm-3">
      <div id="map">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
