<div class = "container-fluid">
  <div class = "row">
    <!-- <div class = "col-sm-4"> -->
      <!-- <p>{{activity.name}}</p> -->
      <!-- <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture"> -->
    <!-- </div> -->
    <a ng-href="#/activities/{{activity.id}}">
      <div class = "col-sm-4">
        <!-- <p>{{group.bio}}</p> -->
        <!-- <span>Host: {{host.first_name}} {{host.last_name}}</span> -->
        <div class = "text-center ticket">

          <h4>{{activity.name}}</h4>
          <h6>{{activity.date | date : fullDate}}</h6>
          <h6>{{activity.time | timeToNormal  | date: 'shortTime'}}</h6>
          <!-- <h6>{{activity.lomemberion_id}}</h6> -->
        </div>
      </a>
    </div>
    <div class = "col-sm-5">
      <ul class="list-group">
        <li class="list-group-item">{{business.name}}</li>
        <li class="list-group-item">{{business.phone}}</li>
        <li class="list-group-item">{{business.address}}</li>
        <li class="list-group-item">{{business.snippet_text}}</li>

        <!-- <li class="list-group-item"><span class="badge">5</span> Deleted</li>
        <li class="list-group-item"><span class="badge">3</span> Warnings</li>   -->
      </ul>

      <img ng-src="{{business.rating_img_url_small}}" class="img-responsive" alt="rating">
      <img ng-src="{{business.image_url_small}}" class="img-responsive" alt="rating">
    </div>
    <div class = "col-sm-3">
      <div id="map">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="span1">
      <button class="back btn btn-primary" ng-click="goBack()">Back</button>
    </div>
    <div class="span11">
      <h2 class="pull-right">{{member.first_name}}: {{member.last_name}} {{member.phone}} {{member.email}}</h2>
    </div>
</div> -->

<!-- Pics and Description -->
<div class="row memberDetailPane">
    <div class="span5">
    <!-- The ngCarousel directive gets inserted here to fix a timing error between angularjs and bootstrap -->
        <div ng-carousel id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
        <!-- Give the first item in the collection the 'active' class -->
            <div ng-class="{item:true, active:$first}" ng-repeat="member in members">
                <img class = ".img-circle" ng-src="{{member.image_url}}">
            </div>
          </div>
          <!-- Carousel Arrow Buttons -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

    <!-- Member Description -->
  <div class="span7">
      <div class="well" ng-bind-html-unsafe="member.first_name">
      </div>
  </div>
</div>

<!-- Footer (Nav buttons and addt'l details -->
<!-- <div class="row">
<button ng-click='newmember(memberIndex - 1)' class="btn btn-primary span2">Prev member</button>
<div class="span8 memberOptions">{{member.options}}</div>
<button ng-click='newmember(memberIndex + 1)' class="btn btn-primary pull-right span2">Next member</button>
</div> -->

<!-- </div> -->
