<div class = "container-fluid text-container">
  <h3 class = "text-center">My Groups</h3>
  <!-- <h4 class = "text-center">{{host.first_name}} {{host.last_name}}</h4> -->
  <hr>
<!-- <div class = "container-fluid text-container"> -->
  <table class="table-striped table-bordered table-hover">
    <!-- <caption>My Groups</caption> -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="group in groups">

        <td>
          <a ng-href="#/groups/{{group.id}}">
            {{group.title}}
          </a>
        </td>
        <td>
          <a ng-href="#/groups/{{group.id}}">
          <!-- <a style="display: block;" ng-href="#/groups/{{group.id}}"> -->
            {{group.bio}}
          </a>
        </td>
          <!-- <td>{{group.id}}</td> -->
          <!-- <td>{{group.title}}</td>
          <td>{{group.bio}}</td> -->
        <!-- </a> -->
        <!-- </td> -->
      </tr>
    <!-- </a> -->
    </tbody>
  <!-- <img class="splashpic" src="../../images/friends.jpg" alt="Friend Picture"> -->
  </table>
</div>
