<div class = "container-fluid">
  <table class="table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>
      <!-- <a href="#/groups/{{group.id}}"> -->

      <tr ng-repeat="group in groups" ng-click="go()">
      <!-- <tr ng-repeat="group in groups" ng-href="#/groups/{{group.id}}"> -->
        <td>{{group.title}}</td>
        <td>{{group.bio}}</td>
      </tr>
    <!-- </a> -->
    </tbody>
  <!-- <img class="splashpic" src="../../images/friends.jpg" alt="Friend Picture"> -->
  </table>
</div>
