<div class = "container-fluid">
  <h3 class = "text-center">Group Details</h3>
  <h4 class = "text-center">{{group.title}}</h4>
  <hr>
  <div class = "row">
    <div class = "col-sm-4">
      <p>{{group.title}}</p>
      <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture">
      <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/preferences/{{group.id}}">Check Group Preferences</a>
      </div>
    </div>

    <a ng-href="#/activities/{{activity.id}}">
    <div class = "col-sm-4">
      <p>{{group.bio}}</p>
      <span>Host: {{host.first_name}} {{host.last_name}}</span>
      <div class = "text-center ticket">

        <h4>{{activity.name}}</h4>
        <h6>{{activity.date | date : fullDate}}</h6>
        <h6>{{activity.time | timeToNormal  | date: 'shortTime'}}</h6>
        <!-- <h6>{{activity.location_id}}</h6> -->
      </div>

    </div>

    <div class = "col-sm-4">
      <p>{{group.location_id}}</p>
      <div class = "text-center voffset5">
        <a class = "btn btn-primary span2" href="#/{{group.id}}/activitygen">Generate Activity Manually</a>
      </div>
    </div>
  </div>
    <div class = "row row-horizon">
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>

  </div>
  </div>

</div>
