<div class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-4">
      <p>{{group.title}}</p>
      <img class = "img-responsive" src="{{group.image_url}}" alt="Group Picture">
    </div>
    <a ng-href="#/activities/{{activity.id}}">
    <div class = "col-sm-4">
      <p>{{group.bio}}</p>
      <span>Host: {{host.first_name}} {{host.last_name}}</span>
      <div class = "text-center ticket">

        <h4>{{activity.name}}</h4>
        <h6>{{activity.date | date : fullDate}}</h6>
        <h6>{{activity.time | timeToNormal  | date: 'shortTime'}}</h6>
        <!-- <h6>{{activity.location_id}}</h6> -->
      </div>

    </div>
  </div>
    <div class = "row row-horizon">
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>
      <div class = "col-md-6">
        <h1>Test This</h1>
      </div>

  </div>
  </div>

</div>
