<div class = "container-fluid">
  <h3>Activity Preferences</h3>
  <h4>{{group.name}}</h4>
  <h4 class = "text-center">{{group.title}}</h4>
  <div class = "row">
    <div class = "col-sm-4"> <!-- Times -->
      <form class="form" role="form">
        <div class="form-group">
          <label><i class="fa fa-globe"></i> Time</label></br>
          <input type="time" id="time" name="time" ng-model="preference.time"
              placeholder="07:00:00" required /></br>
          <label><i class="fa fa-globe"></i> Day</label></br>
          <!-- <input type="text" class="form-control" ng-model="selectedDay" bs-options="day for day in periods.days" placeholder="Enter day" bs-typeahead></br> -->
          <select ng-model="preference.day" ng-options="day for day in periods.days"></select></br>
          <label><i class="fa fa-globe"></i>How Often</label></br>
          <select ng-model="preference.periodicity" ng-options="period for period in periods.periods"></select></br>

          <!-- <input type="text" class="form-control" ng-model="selectedOften" bs-options="period for period in periods.periods" placeholder="Enter how often" bs-typeahead></br> -->
          <label><i class="fa fa-globe"></i> Custom Date</label></br>
          <div class="dropdown">
            <!-- <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
            </ul>
            <!-- <h4>Popup</h4> -->
           <div class="row">
             <div class="col-md-9">
               <p class="input-group">
                 <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                 <span class="input-group-btn">
                   <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                 </span>
               </p>
             </div>
           </div>
          </div>
        </div>
        <hr>
      </form>


      </div>
      <div class = "text-center"> <!-- Other -->

      </div>
      <div class = "text-center"> <!-- Map -->

      </div>

    </div>
    <div class="row span12 rsvp rsvpMaybe">  <!-- Theme gallery  and choices -->
      <h4 class = "vertical-text">Maybe</h4>
      <ul class="thumbnails">
        <li ng-repeat="member in members | rsvpMaybe" ng-click="getDetail(member.id)" class="col-sm-2">
        <!-- <li ng-repeat="member in members" ng-click="getDetail(member.id)" class="span2"> -->

          <div class="thumbnail">
            <img ng-src="{{member.image_url}}">
            <div class="caption">
              <h4>{{member.first_name}}</h4>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class = "row"> <!-- Sorts/other -->
    </div>

    <div class = "col-sm-8">
    </div>
  </div>
